{% extends "base.html" %}

{% load static %}


{% block content %}




<div class="grad forms-outer-sec">
  <div class="sm-container">
    <div class="cmn-round-box">
      <div class="cmn-pd-box static-box">

         {% if messages %}
           {% for message in messages %}
        	   <h5 style="color:red">{{ message }}</h5>
           {% endfor %}
            {% endif %}
          <h1 class="head-sm mb-4">Change Password</h1>
         <form method="post" id="change_password_form">
          {% csrf_token %}
            <div class="form-group">
              <input type="password" name="old_password" class="form-control theme-input" placeholder="Old password" required="" autofocus="" id="id_old_password">
            </div>
            <div class="form-group">
              <input type="password" name="new_password1" class="form-control theme-input" placeholder="New password" required="" id="id_new_password1">
            </div>
            <div class="form-group">
              <input type="password" name="new_password2" class="form-control theme-input" placeholder="Confirm new password " required="" id="id_new_password2">
            </div>
            <div class="form-bottom-links text-right">
              <input type="submit" value="Save changes" class="theme-btn inverse" title="Save Changes">
            </div>
          </form>
      </div>
    </div>
  </div>
</div>



{% endblock %}
