
<!DOCTYPE html>

<html lang="en">
<head>
	<title>Blog Site</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body style="margin:0; padding:0;">
	<div style="max-width:600px; margin:auto; font-family:Montserrat; font-weight:400;">
		<header>
			<div style="background:#044e8f; height:135px; text-align:center;">

			</div>
		</header><div style="padding:0px 15px;">
			<div style="padding-top:50px; text-align:center;">

To initiate the password reset process for your {{ user.get_username }}  Account,
click the link below:
            </div>
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

</body>
</html>
