{% extends "base.html" %}



{% block content %}
<div class="grad forms-outer-sec">
  <div class="sm-container">
    <div class="cmn-round-box">
      <div class="cmn-pd-box static-box">
        <div id="forgot_password_page1">
          <h1 class="head-sm mb-4">Forgot password</h1>

          <form method="post" id="forgot_password_email">
            {% csrf_token %}
            <div class="form-group">
              <input type="email" name="email" placeholder="email@example.com" class="emailinput form-control theme-input" id="id_email" required>
            </div>
            <div class="form-bottom-links text-right">
              <button type="submit" class="theme-btn inverse">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
