{% extends "base.html" %}
{% load rest_framework %}
{% load i18n static %}


{% block content %}
<div class="grad forms-outer-sec">
  <div class="inner-container">
    <div class="cmn-round-box">
      <div class="cmn-pd-box static-box">
        <div class="text-center" id="forgot_password_4">
          <p class="mb-0">
            Your password has been set. You may go ahead and <a href="{% url 'login' %}" title="Sign In" class="med-txt">Sign In</a> now.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
