{% extends "base.html" %}


{% block content %}<div class="grad forms-outer-sec">
  <div class="sm-container">
    <div class="cmn-round-box">
      <div class="cmn-pd-box static-box">
        <div id="forgot_password_page3">
          {% if validlink %}
            <h1 class="head-sm mb-4">Change password</h1>
            <form method="post" id="passwordreset_form" novalidate>
              {% csrf_token %}
              <div class="form-group">
                <input type="password" name="new_password1" class="textinput textInput form-control theme-input" id="id_new_password1" placeholder="Enter Password" required="">
              </div>
              <div class="form-group">
                <input type="password" name="new_password2" class="textinput textInput form-control theme-input" id="id_new_password2" placeholder="Confirm Password" required="">
              </div>
              <div class="form-bottom-links text-right">
                <button type="submit" class="theme-btn inverse" title="Change Password">Change Password</button>
              </div>

            </form>
              {% else %}
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset by click <a href="{% url 'password_reset' %}">here</a></p>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
