{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Login</h2>
	<form method="post" class="reg-form" id="login" novalidate autocomplete="off">
	  {% csrf_token %}
	{% if messages %}
					{% for message in messages %}
						{% if message is not None %}
							<div class="messagelist alert {% if message.tags %} alert-{{ message.tags }} {% endif %}">
								<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
							  {{ message }}
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
		{{form.non_field_errors}}
	 <div class="form-group">

		<label>Email</label>
		{{ form.username }}
	  </div>
	  <div class="form-group ">
	{{form.password.errors}}
		<label>Password</label>
		{{ form.password }}
		  <a  class= "glyphicon glyphicon-eye-close  view-icon" id="reveal" title="Show Password"></a>
	  </div>
		<div class="check-blk">
			<input type="checkbox" name="remember_me" value="remember_me"> Remember me
		</div>
		<input type="submit" class="blue-btn" id="user_login_btn" value="Login">
	</form>
<a href="{% url 'reset_password' %}" title="forget password">forget password</a>
{% endblock %}